<%- include("header") -%>

<h2>This is the about page</h2>

<p>This to-do-list app helps you to add, delete and upadte items. So no need to memorize everything , when you have this with you.</p>

<%- include("footer") -%>
